.nav-item.btn:hover {
    color: white !important;
}

.nav-item.btn.active {
    color: white !important;
}

#brand-logo{
    font-weight: 800;
    text-shadow: -4px 2px #555;
}

#brand-logo:hover{
    text-decoration: none;
    font-weight: 800;
    text-shadow: -4px 2px #555;
}

img{
    max-height: 650px;
    /* max-width: max-content; */
}

.card{
    height: 100%;
    border: none;
}

.card p{
    text-align: justify;
}

.ad-wrapper .card h5.card-title{
    font-size: 2.5rem;
}

#editor {
    height: 700px !important;
}
